body {
    font-family: Arial, sans-serif;
    background-color: #FAF3F0;
}

header {
    background-color: #DBC4F0;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FFCACC;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer{
    display: grid;
    place-items: center;
}

.boton {
    background-color: #FFCACC; 
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
.text-register {
    text-align: center;

}

.link-register {
    border-bottom: 1px solid #000;
    color: #bd8cb2;
    text-decoration: none;
}   
.link-register:hover {
    border-bottom: 2px solid #000;;
}
      